
@page
@model WebApplication1.Pages.LazyModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <style>
        img {
            height: auto;
            max-width: 100%;
        }
      
    </style>
</head>
<body>
   
    <table class="image-table" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%;">
        <tbody>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg" style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
            <tr>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/x.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/z.jpg"  style="float:right;width:500px;height:500px;">
                </td>
                <td>
                    <img class="lazyload " src="~/Images/yükleniyor.png" data-src="/Images/y.jpg"  style="float:right;width:500px;height:500px;">
                </td>
            </tr>
        </tbody>
    </table>

<script type="text/javascript" charset="utf-8">
            $(function () {
                lazyload();
            });
</script>
</body>
</html>